@CHARSET "ISO-8859-1";
button {
	padding: 0;
	background-color: none;
	border: none;
}
button:hover {
	background-color: red;
	cursor: pointer;
}
#show-pop-up {
	padding: 15px;
	background-color: rgb(100,150,150);
	border-radius: 10px;
	font-weight: bold;
	color: rgb(255,255,255);
}
#show-pop-up:hover {
	border: 2px solid rgb(100,150,150);
	background-color: rgb(255,255,255);
	color: rgb(100,150,150);
}
#pop-up {
	width: 60%;
	height: auto;
	background-color: rgb(180,200,200);
	border-radius: 15px;
	position: absolute;
    left: 50%;
    margin: 0% 0 0 -35%;
    padding: 1% 5% 5% 5%;
}
#header {
	background-color: rgba(0,0,0,0.3);
}
#close-pop-up {
	float: right;
}
#no-video-for-play {
	padding-top: 20px;
	text-align: center;
	font-weight: bold;
	border-bottom: 3px solid;
}
#top {
	clear: right;
}
#cross-button {
	width: 25px;
	height: 25px;
	background: url(images/SVG-icons.png) -44px 32px;
}
iframe {
	width: 100%;
	height: 300px;
	border: none;
}
#newURL {
	margin-top: 10px;
	padding: 5px;
	width: 100%;
	border: none;	
	border-radius: 5px;
}
#left-avb1 {
	width: 25px;
	height: 25px;
	background: url(images/SVG-icons.png) 217px 217px;
	background-color: red;
}
#left-avb2 {
	width: 25px;
	height: 25px;
	background: url(images/SVG-icons.png) 180px 217px;
}
#right-avb1, #right-avb2 {
	border-radius: 5px;
	background-color: rgb(0,150,250);
	font-size: 12px;
	font-weight: bold;
	color: rgb(0,0,0);
}
#right-avb1:hover, #right-avb2:hover {
	color: rgb(255,255,255);
}
#right-avb1:active, #right-avb2:active {
	color: rgb(0,0,0);
	background-color: rgb(255,255,255);
}
#buttons-av-left {
	margin-left: 1%;
	float: left;
}
#buttons-av-right {
	padding-top: 1%;
	margin-left: 80%;
	margin-right: 0px;
}
.av-buttons {
	padding: 2px 2px 2px 2px;
	border: 1px solid;
}